/* FULL SCREEN OVERLAY */
.bot-walk-overlay {
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at top, #020617, #000);
    z-index: 99999;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.bot-walk-overlay.hidden {
    display: none;
}

/* BOT IMAGE */
#botWalker {
    width: 90px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(-120px,-50%);
    will-change: transform;
}

/* CLEAN STRAIGHT WALK */
@keyframes botWalk {
    from {
        transform: translate(-120px, -50%);
    }
    to {
        transform: translate(calc(100vw + 120px), -50%);
    }
}