{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}

<div class="auth-wrapper">

<div class="auth-card">

<h2 id="title">Create Account</h2>
<p id="subtitle">Start your journey with CareerInnTech</p>

<form method="POST">
{% csrf_token %}

<!-- PHONE -->
<div class="step active" id="step-phone">
<input type="text" name="phone" placeholder="Enter Phone Number">
<button formaction="{% url 'signup_phone' %}">Send OTP</button>
</div>

<!-- PHONE OTP -->
<div class="step" id="step-phone-otp">
<input name="otp" placeholder="Enter Phone OTP">
<button formaction="{% url 'verify_phone' %}">Verify OTP</button>
<a href="{% url 'resend_phone' %}">Resend OTP</a>
</div>

<!-- EMAIL -->
<div class="step" id="step-email">
<input type="email" name="email" placeholder="Enter Email">
<button formaction="{% url 'signup_email' %}">Send Email OTP</button>
</div>

<!-- EMAIL OTP -->
<div class="step" id="step-email-otp">
<input name="email_otp" placeholder="Enter Email OTP">
<button formaction="{% url 'verify_email' %}">Verify OTP</button>
<a href="{% url 'resend_email' %}">Resend OTP</a>
</div>

<!-- PASSWORD -->
<div class="step" id="step-password">
<input type="password" name="password" placeholder="Create Password">
<button formaction="{% url 'set_password' %}">Create Account</button>
</div>

</form>

<div class="divider">or</div>

<a class="google-btn" href="/accounts/google/login/">
Continue with Google
</a>

<p class="login-link">
Already have account? <a href="{% url 'login' %}">Login</a>
</p>

</div>

</div>

{% endblock %}
