{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}

<div class="auth-wrapper">

<div class="auth-card">

<h2 id="title">Create Account</h2>
<p id="subtitle">Start your journey with CareerInnTech</p>

<form method="POST">
{% csrf_token %}



{% if not email_sent %}
<div class="step">
    <input type="email" name="email" placeholder="Enter Email" required>
    <button formaction="{% url 'signup_email' %}">
        Send Email OTP
    </button>
</div>
{% endif %}

{% if email_sent and not email_verified %}
<div class="step">
    <input name="email_otp" placeholder="Enter Email OTP" required>
    <button formaction="{% url 'verify_email' %}">
        Verify OTP
    </button>
    <a href="{% url 'resend_email' %}">Resend OTP</a>
</div>
{% endif %}

{% if email_verified %}
<div class="step">
    <input type="password" name="password" placeholder="Create Password" required>
    <button formaction="{% url 'set_password' %}">
        Create Account
    </button>
</div>
{% endif %}


</form>

<div class="divider">or</div>

<a class="google-btn" href="/accounts/google/login/">
Continue with Google
</a>

<p class="login-link">
Already have account? <a href="{% url 'login' %}">Login</a>
</p>

</div>

</div>
<script>
document.addEventListener("DOMContentLoaded", function() {

    const emailVerified = "{{ request.session.email_verified|default:'' }}";

    if (emailVerified) {
        document.getElementById("step-email").style.display = "none";
        document.getElementById("step-email-otp").style.display = "none";
        document.getElementById("step-password").style.display = "block";
    }
});
</script>


{% endblock %}
