{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="cit-auth-container">

  <!-- LEFT -->
  <div class="cit-auth-left">
      <h1 class="cit-logo">CareerInnTech</h1>
      <h2>Create your account</h2>

      <p>
        Build your career with guided learning, projects, internships and AI
        mentorship.
      </p>

      <ul>
        <li>✔ Career Roadmaps</li>
        <li>✔ Skill Development</li>
        <li>✔ Placement Preparation</li>
        <li>✔ AI Mentor Support</li>
      </ul>
  </div>

  <!-- RIGHT -->
  <div class="cit-auth-right">

    <h2>Create Account</h2>

    <form method="POST">
      {% csrf_token %}

      <!-- EMAIL -->
      <label>Email</label>
      <input type="email" name="email" placeholder="Enter your email" required>
      <button formaction="{% url 'signup_email' %}" class="cit-small-btn">
        Send OTP
      </button>

      <!-- OTP -->
      <label>Email OTP</label>
      <input type="text" name="email_otp" placeholder="Enter OTP" required>
      <button formaction="{% url 'verify_email' %}" class="cit-small-btn">
        Verify OTP
      </button>

      <!-- PASSWORD -->
      <label>Password</label>
      <input type="password" name="password" placeholder="Create password" required>

      <button formaction="{% url 'set_password' %}" class="cit-main-btn">
        Create Account →
      </button>

    </form>

    <div class="cit-or">OR</div>

    <a href="/accounts/google/login/" class="cit-google-btn">
      Continue with Google
    </a>

    <p class="cit-login-text">
      Already have account?
      <a href="{% url 'login' %}">Login</a>
    </p>

  </div>

</div>

{% endblock %}
