Django==4.2.16

channels==4.0.0

gunicorn==23.0.0
whitenoise==6.7.0

dj-database-url
psycopg2-binary
requests
openai
python-dotenv
azure-cognitiveservices-speech

reportlab
django-allauth

packaging==25.0
